@font-face {
  font-family: OpenSans;
  src: url("/fonts/opensans/OpenSans-VariableFont_wdth\,wght.ttf");
}

@font-face {
  font-family: Poppins;
  src: url("/fonts/poppins/Poppins-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
}

body {
  font-family: Poppins;
  color: hsla(0, 0%, 10%);
}

ul {
  list-style: none;
}

a {
  color: inherit;
}

.max-w-1196 {
  max-width: 1196px;
}

.bg-gray-5 {
  background-color: hsla(0, 0%, 95%);
}

.bg-white {
  background-color: white;
}

.white {
  color: white;
}

.w-4 {
  width: 1rem;
}

.w-5 {
  width: 1.25rem;
}

.w-6 {
  width: 1.5rem;
}

.w-7 {
  width: 1.75rem;
}

.w-8 {
  width: 2rem;
}

.w-9 {
  width: 2.25rem;
}

.w-16 {
  width: 4rem;
}

.h-4 {
  height: 1rem;
}

.h-5 {
  height: 1.25rem;
}

.h-6 {
  height: 1.5rem;
}

.h-7 {
  height: 1.75rem;
}

.h-8 {
  height: 2rem;
}

.h-9 {
  height: 2.25rem;
}

.h-16 {
  height: 4rem;
}

.h-full {
  height: 100%;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.transition {
  transition: 0.3s;
}

.contents {
  display: contents;
}

.bg-blur-5 {
  backdrop-filter: blur(5px);
}

.bg-black\/30 {
  background: hsla(0, 0%, 0%, 30%);
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.text-primario {
  color: #fe4641;
}

.home-header {
  position: fixed;
  top: 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  color: black;
  z-index: 10;
}

.sub-header-contacto {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  height: 36px;
  align-items: center;
}

.icon-text-container {
  display: flex;
  align-items: center;
  gap: 6px;
}

.icons-redes-sociales {
  display: flex;
  gap: 16px;
  align-items: center;
}

.enlace {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.enlace:hover {
  color: #fe4641;
}

.sub-header-enlaces {
  display: flex;
  height: 80px;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  max-width: 140px;
}

.hero {
  height: 720px;
  display: flex;
  font-family: OpenSans;
}

.hero-bg {
  background: url('/img/hero-bg.png');
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.hero-bg-gradient {
  margin-left: -100%;
  background: linear-gradient(90deg, black, transparent);
  height: 100%;
  width: 100%;
}

.lista-enlaces-horizontal {
  display: flex;
  flex-flow: row;
  align-content: stretch;
}

.enlace-header {
  font-size: large;
  font-weight: bolder;
  padding: 0.5rem 1rem;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 1rem;
  text-decoration-color: transparent;

  &:hover {
    text-underline-offset: 0.5rem;
    text-decoration-color: currentColor;
  }
}

.enlace-header-actual {
  color: #fda527;

  &:hover {
    color: #fda527;
  }
}

.icon-button {
  background-color: transparent;
  color: currentColor;
  border: none;
  outline: none;
  padding: 0.5rem;
}

.header-icons {
  display: flex;
  gap: 0.5rem;
}

.hidden-top {
  overflow: hidden;
}

.hero-contenido-contenedor {
  margin-left: -100%;
  width: 100%;
  height: 100%;
  color: white;
  align-content: center;
  padding-left: 2rem;
  padding-right: 2rem;
}

.hero-contenido {
  max-height: 248px;
  width: fit-content;
  display: flex;
  flex-direction: column;
}

.icon-whatsapp {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  color: white;
  background-color: #2db742;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.75rem;
  border-radius: 100%;
}

.hero__texto {
  font-size: 1.5rem;
  color: hsla(0, 0%, 100%, 70%);
}

.hero__titulo {
  font-size: 4.5rem;
  font-weight: 700;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.button {
  background-color: #fe4641;
  border-radius: 0.25rem;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 600;
  color: white;
  padding: 1rem 1.75rem;
  transition: 0.3s;

  &:hover {
    background: #fda527;
  }
}

.hero-button {
  margin-top: 4rem;
}

.idiomas {
  display: flex;
  flex-flow: row wrap;
  padding: 1.75rem 1rem;
  justify-content: center;
  gap: 0.25rem;
}

.idioma-icon {
  height: 2rem;
  opacity: 0.8;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }
}

.paginas-amigas {
  padding: 2rem 1rem;
}

.paginas-amigas-contenido {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 2rem;
}

.pagina-amiga {
  max-width: 264px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  color: #fe4641;
}

.pagina-amiga__titulo {
  font-size: 1.5rem;
  font-weight: 600;
  color: hsla(0, 0%, 10%);
}

.pagina-amiga__descripcion {
  color: hsla(0, 0%, 30%);
  text-align: center;
}

.seccion-noticias {
  padding-bottom: 3rem;
}

.seccion-noticias-header {
  padding: 3rem 1rem;
}

.seccion-noticias-header__titulo {
  font-size: 2.5rem;
  text-align: center;
  font-weight: 700;
}

.noticias-contenedor {
  display: grid;
  /* grid-template-columns: repeat(auto-fill, minmax(300px, 360px)); */
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
}

.noticia {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  height: 100%;
  
  &:hover {
    background-color: hsla(0, 0%, 100%);
  }
}

.noticia__imagen {
  width: 110px;
  height: 110px;
  object-fit: contain;
  flex-grow: 1;
}

.noticia__titulo {
  font-weight: 700;
  font-size: 1.2rem;
  text-wrap: balance;
  line-height: 1.5rem;
}

.noticia__fecha {
  font-size: 0.75rem;
  margin-top: 0.5rem;
  color: hsla(0, 0%, 50%);
}

.noticias-footer {
  margin-top: 1rem;
}

.noticias-footer__titulo {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: start;
  display: inline-block;
}
.column {
 /*  width: 25%; */
  /* float: left; */
  padding: 10px;
  border: none; 
  
}
.column .enlace{
 /*  text-align: start; */
 justify-content: start;
 font-size: small;
}
.column p {
  font-size: 18px;
  font-weight: bold;
  height: auto;
}

.column ul {
  /* list-style-type: none; */
 list-style: url("/triangulo.svg");
  padding: 0;
  margin-left: 0.8rem;
}
.contenedor-datos{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;

}

.seccion-noticias__descripcion {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.seccion-noticias__descripcion div {
  display: flex;
  justify-content: center;
}.titulo-datos{
 display: flex;
 overflow: hidden;
 gap: 0.5rem;
 p{
  white-space: nowrap;
 }
}
.linea{
  width: 100%;
  flex-grow: 1;
  height: 1px;
  background-color: #fe4641;
  margin-bottom: auto;
  margin-top: auto;
}
.simbolo-titulo {
  font-size: 1.5rem;
  white-space: nowrap;
}
.contenedor-simbolos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}

.simbolo {
  width: 250px;
  img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
}
footer {
  background-color: #f0f0f0;
  padding: 10px;
  text-align: center;
}
.titulo-simbolo{
  font-size: 1.1rem;
  font-weight: 700;
  text-wrap: balance;
  justify-content: start;
  line-height: 1.5rem;
}
.seccion-simbolos__header{
  padding: 3rem 0;
}